.c-overlay
    animation: fly-in 1s

.c-card__header
    background: #444
    color: white

    & > .c-heading
        & > .c-badge
            margin-left: 1em
            background: teal
            text-decoration: none
            border: none

.c-card__body
    display: flex
    justify-content: space-between
