.c-table
    & > .c-table__caption
        & > .title
            flex: 1 0 50%
        & > .input
            flex: 1 0 50%


    & > .c-table__row--heading
        & > .c-table__cell
            color: white
            background: #444
            font-size: 2rem
